body {
    background-color: #337ab7;
}
.center-block {
    float: none;
    margin-top:150px;
}

.form-control {
    width: 100%;
}
.control-label {
    color: white;
}

.panel {
    border: none;
    background-color: #337ab7;
}

    .panel .panel-heading {
        background-color: none;
        background-color: #337ab7;
        color: white;
        font-size:30px;
    }

.panel-footer {
    background-color: none;
    background-color: #337ab7;
}

.btn {
    margin-top: 10px;
}

.mensaje {
    margin-top: 20px;
    width: 100%;

}

.btn {
    background-color: #286090;
}