body {
    background-color:aquamarine;
    margin-top:20px;
}


.center-block {
    float: none;
}
.row {
    margin-bottom:5px;
}
.right {
    float:right;
    height: 20px;
}

.left {
    float:left;
}